#attributions {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 500px;
    font-family: Monaco;
}

#attributions img {
    height: auto;
    width: 75px;
}

.attribution {
    display: flex;
    flex-direction: column;
    align-items: center;
}