#attributions {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 500px;
    font-family: Monaco;
}

#attributions img {
    height: auto;
    width: 75px;
}

.attribution {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#password-input {
    margin-top: 200px;
    background-color: lavender;
    border-radius: 40px;
    font-family: Monaco;
    font-size: 35px;
    border: 4px solid black;
    text-align: center;
    width: 200px;
    margin-bottom: 100px;
}

#password-input::placeholder {
    font-size: 13px;
}