#barrels-div {
    display: flex;
    width: 100%;
    margin-top: 100px;
}

.barrel {
    height: auto;
}

.barrel-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label {
    position: absolute;
    height: auto;
    width: 25%;
    top: 310px;
}