#level-3 {
    width: 600px;
    height: 700px;
    border: 4px solid purple;
    margin: auto;
}

#github-3 {
    margin-right: 40px;
}

#linkedin-3 {
    margin-left: 40px;
}

#att-label {
    display: inline-block;
}

#freepik {
    margin-left: 20px;
}

#ball-3 {
    margin-right: 50px;
}

#student-3 {
    margin-left: 50px;
    margin-right: 50px;
}

#mme-3 {
    margin-left: 50px;
}

#ball-p {
    font-size: 15px;
    display: inline-block;
    position: relative;
    top: -20px;
    left: -65px;
}

#student-p {
    font-size: 15px;
    display: inline-block;
    position: relative;
    top: -20px;
    left: -15px;
}

#mme-p {
    display: inline-block;
    font-size: 15px;
    position: relative;
    top: -20px;
    right: -55px;
}