@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');

#level-2-dialogue {
    min-height: 100px;
    z-index: 1;
}

#student-lvl-2-leaving {
    position: absolute;
    height: auto;
    width: 20%;
    top: 315px;
    z-index: 1;
}

#cafe {
    opacity: .35;
}

#instructions-label-2 {
    color: black;
    text-decoration: underline;
}

#grad-student-story {
    position: absolute;
    height: auto;
    width: 25%;
    z-index: 1;
    top: 310px;
    left: 400px;
}

#mme-lvl2-instructions {
    position: absolute;
    height: auto;
    width: 75%;
    top: 470px;
    right: 300px;
}

#student-lvl2-instructions {
    position: absolute;
    height: auto;
    width: 75%;
    left: 350px;
    top: 425px;
}

#level-2-instructions-text {
    min-height: 110px;
    margin-top: 0;
}

#four-bubble {
    position: absolute;
    height: auto;
    width: 25%;
    top: 500px;
    left: 100px;
}

#thirteen-bubble {
    position: absolute;
    height: auto;
    width: 25%;
    top: 500px;
    right: 100px;
}

#mme-lvl2 {
    height: auto;
    width: 30%;
    position: absolute;
    top: 290px;
    right: 300px;
}

#student-lvl2 {
    height: auto;
    width: 30%;
    position: absolute;
    top: 230px;
    left: 400px;
}

#mme-speech {
    height: auto;
    width: 20%;
    position: absolute;
    top: 265px;
    left: 220px;
}

#mme-div {
    height: 60px;
    width: 75px;
    position: absolute;
    top: 275px;
    left: 250px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'GFS Didot', serif;
    font-size: 50px;
}

#student-speech {
    height: auto;
    width: 20%;
    position: absolute;
    top: 220px;
    left: 350px;
}

#student-div {
    height: 60px;
    width: 75px;
    position: absolute;
    top: 230px;
    left: 360px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'GFS Didot', serif;
    font-size: 50px;
}

#mme-thought {
    height: auto;
    width: 30%;
    position: absolute;
    top: 120px;
    left: 30px;
}

#lvl2-input {
    position: absolute;
    top: 158px;
    left: 70px;
    background-color: lavender;
    border-radius: 40px;
    border: 2px solid black;
    font-family: 'GFS Didot', serif;
    font-size: 35px;
    width: 100px;
}

#lvl2-input::placeholder {
    font-size: 15px;
}

#say-button {
    font-size: 15px;
    padding: 5px 10px;
    position: absolute;
    top: 215px;
    left: 95px;
}