#student-story {
    position: absolute;
    height: auto;
    width: 20%;
    top: 315px;
    z-index: 1;
}

.instructions-label {
    color: black;
    text-decoration: underline;
    letter-spacing: 2px;
}

#level-1-story-text {
    min-height: 120px;
    z-index: 1;
}

#level-1-instructions-text {
    max-height: 85px;
    min-height: 85px;
}

#mme-1 {
    height: auto;
    width: 25%;
    position: absolute;
    right: 400px;
    top: 350px;
    z-index: 1;
}

#sorbonne {
    opacity: .35;
}

#next-button {
    position: relative;
    bottom: 150px;
    font-size: 20px;
    padding: 8px 16px;
    z-index: 1;
}

#nine-balls {
    height: auto;
    width: 50%;
    position: relative;
    bottom: 850px;
    left: 100px;
}

#student-instructions {
    height: auto;
    width: 50%;
    position: relative;
    right: 200px;
}

#next-button-1-instructions {
    position: absolute;
    top: 625px;
    font-size: 20px;
    padding: 8px 16px;
}

#scale-instructions-1 {
    position: relative;
    left: 240px;
    bottom: 20px;
}

#lvl-1-instructions-1 {
    position: relative;
    left: 230px;
    bottom: 25px;
}

#lvl-1-instructions-2 {
    position: relative;
    left: 200px;
    bottom: 20px
}