#student-story {
    position: absolute;
    height: auto;
    width: 40%;
    top: 315px;
    z-index: 1;
}

.instructions-label {
    color: black;
    text-decoration: underline;
    letter-spacing: 2px;
}

#level-1-story-text {
    min-height: 120px;
    z-index: 1;
}

#level-1-instructions-text {
    max-height: 85px;
    min-height: 85px;
    z-index: 1;
    position: relative;
    bottom: 40px;
}

.skip-button {
    position: absolute;
    top: 600px;
}

#mme-1 {
    height: auto;
    width: 25%;
    position: absolute;
    right: 400px;
    top: 350px;
    z-index: 1;
}

#sorbonne {
    opacity: .35;
}

#next-button {
    position: absolute;
    top: 500px;
    font-size: 20px;
    padding: 8px 16px;
    z-index: 1;
}

#nine-balls {
    height: auto;
    width: 50%;
    position: relative;
    bottom: 850px;
    left: 120px;
    z-index: 1;
}

#student-instructions {
    height: auto;
    width: 50%;
    position: relative;
    right: 200px;
}

.next-button-instructions {
    position: absolute;
    top: 625px;
    font-size: 20px;
    padding: 8px 16px;
    z-index: 2;
    right: 100px;
}

.back-button-instructions {
    top: 625px;
    right: 450px;
    position: absolute;
    font-size: 20px;
    padding: 8px 16px;
    z-index: 2;
}

#scale-instructions-1 {
    height: auto;
    width: 45%;
    position: relative;
    right: 160px;
    bottom: 50px;
}

#lvl-1-instructions-1 {
    position: relative;
    height: auto;
    width: 55%;
    z-index: 1;
    bottom: 50px;
}

#lvl-1-instructions-2 {
    position: relative;
    z-index: 1;
    bottom: 50px;
    height: auto;
    width: 55%;
}