#level-1-redo {
    width: 600px;
    height: 700px;
    border: 4px solid purple;
    margin: auto;
}

#balls {
    margin-top: 5%;
    display: flex;
}

.ball {
    height: auto;
    width: 15px;
    position: relative;
    top: 15px;
    left: 8px;
}

.ball-div {
    width: 30px;
    height: 30px;
    border: 2px solid black;
}

.scale {
    text-align: left;
}

#scale-top {
    position: relative;
    height: 50px;
    width: 4px;
    top: 99px;
    right: 150px;
}

#scale-rot-part {
    height: auto;
    width: 35%;
    position: relative;
    right: 149px;
    top: 93px;
    transform: rotate(0deg);
}

#left_v {
    height: auto;
    width: 10%;
    position: relative;
    top: 73px;
    right: 248px;
}

#right_v {
    height: auto;
    width: 10%;
    position: relative;
    top: 8px;
    right: 53px;
}

#div-left {
    width: 85px;
    height: 70px;
    border: 5px solid black;
    position: relative;
    right: 250px;
}

#div-right {
    width: 85px;
    height: 70px;
    border: 5px solid black;
    position: relative;
    bottom: 80px;
    right: 50px;
}

#T {
    height: 200px;
    width: 15%;
    position: absolute;
    top: 373px;
    right: 407px;
}

#weigh-button {
    font-size: 20px;
    padding: 8px 16px;
    position: absolute;
    right: 475px;
    top: 600px;
}

#weighs-left {
    position: absolute;
    font-family: 'Outfit', sans-serif; 
    color: purple;
    font-size: 25px;
    top: 585px;
    left: 150px;
}

#counter {
    font-family: 'GFS Didot', serif;
    position: absolute;
    top: 586px;
    left: 305px;
    font-size: 25px;
}

#reset-button {
    font-size: 20px;
    padding: 8px 16px;
    position: absolute;
    right: 415px;
    top: 635px;
}

.instructions-button {
    font-size: 20px;
    padding: 8px 16px;
    position: absolute;
    left: 435px;
    top: 20px
}

#student-lvl-1-proper {
    height: auto;
    width: 22%;
    position: absolute;
    top: 250px;
    left: 400px;
}