#level-2 {
    width: 600px;
    height: 700px;
    border: 4px solid purple;
    margin: auto;
    background-color: white;
}

h1 {
    font: bold 45px Arial;
    text-align: center;
}

h2 {
    font: bold 25px Arial;
    text-align: center;
    color: purple;
}

li {
    margin: 20px;
}

ul {
    text-align: center;
    list-style-type: none;
    font: 35px Arial;
    padding: 0;
}

.student {
    color: orange;
}

.mme {
    color: rgb(153, 80, 153);
}

input {
    height: 50px;
    font-size: 50px;
    text-align: center;
    width: 100px;
}

.label {
    font-weight: bold;
}

.number {
    font-style: italic;
}

button {
    font-size: 50px;
}