#level-1-redo {
    width: 600px;
    height: 700px;
    border: 4px solid purple;
    margin: auto;
}

#balls {
    margin-top: 5%;
}

.ball {
    height: auto;
    width: 50%;
    position: relative;
    top: 15px;
    left: 8px;
}

.scale {
    text-align: left;
}

#student {
    position: relative;
    top: -450px;
    right: -400px;
}

#counter {
    display: inline;
    margin-left: 50px;
    margin-right: 70px;
}

#scale-1 {
    position: relative;
    height: auto;
    width: 14%;
    top: 99px;
    right: 241px;
}

#scale-top {
    position: relative;
    height: 50px;
    width: 4px;
    top: 99px;
    right: 150px;
}

#scale-rot-part {
    height: auto;
    width: 35%;
    position: relative;
    right: 149px;
    top: 93px;
}

#left_v {
    height: auto;
    width: 10%;
    position: relative;
    top: 73px;
    right: 248px;
}

#right_v {
    height: auto;
    width: 10%;
    position: relative;
    top: 8px;
    right: 53px;
}

#div-left {
    width: 75px;
    height: 70px;
    border: 5px solid black;
    position: relative;
    right: 250px;
}

#div-right {
    width: 75px;
    height: 70px;
    border: 5px solid black;
    position: relative;
    bottom: 80px;
    right: 50px;
}

#T {
    height: 200px;
    width: 15%;
    position: absolute;
    top: 373px;
    right: 407px;
}

.ball-div {
    width: 30px;
    height: 30px;
    border: 2px solid black;
    display: inline-block;
}

#instructions-1-button {
    font-size: medium;
    position: relative;
    left: 410px;
    bottom: 1235px;
}