#level-1-redo {
    width: 600px;
    height: 700px;
    border: 4px solid purple;
    margin: auto;
}

.ball {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

.scale {
    text-align: left;
    margin: 0;
    padding: 0;
    border: 0;
}

#student {
    position: relative;
    top: -450px;
    right: -400px;
}

#li_6 {
    text-align: left;
    position: relative;
    top: -550px;
}

#counter {
    display: inline;
    margin-left: 50px;
    margin-right: 70px;
}

#scale-1 {
    position: relative;
    top: -10px;
    right: -23px;
}

#scale-2 {
    position: relative;
    top: -20px;
    right: -71px;
}

#scale-3 {
    position: relative;
    top: -8px;
    right: -108px;
}

#div-left {
    width: 75px;
    height: 70px;
    border: 5px solid black;
    margin-left: 15px;
    // padding: 0;
}

#div-right {
    width: 75px;
    height: 70px;
    border: 5px solid black;
    margin-left: 18px;
    margin-top: 10px;
    padding: 0;
}

.ball-div {
    width: 30px;
    height: 30px;
    border: 2px solid black;
    display: inline-block;
}

#scale-5 {
    position: relative;
    top: -110px;
    right: -153px;
}

#scale-8 {
    position: relative;
    top: -550px;
    right: -114px;
}

#instructions-1-button {
    font-size: medium;
    position: relative;
    left: 410px;
    bottom: 1235px;
}

#scale-top {
    position: relative;
    right: -50px;
}