#student-prelevel-1 {
    position: absolute;
    height: auto;
    width: 20%;
    top: 300px;
}

#level-1-dialogue {
    border: 4px solid purple;
    font: 20px Arial;
    background-color: lavender;
    width: 500px;
    margin: auto;
    margin-top: 40px;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px;
    text-align: left;
}

#nine-balls {
    height: auto;
    width: 50%;
}

#student-instructions-1 {
    position: relative;
    right: 350px;
    bottom: 35px;
}

#scale-instructions-1 {
    position: relative;
    left: 240px;
    bottom: 20px;
}

#lvl-1-instructions-1 {
    position: relative;
    left: 230px;
    bottom: 25px;
}

#lvl-1-instructions-2 {
    position: relative;
    left: 200px;
    bottom: 20px
}

.instructions-label {
    color: black;
    text-decoration: underline;
}

#mme-1 {
    height: auto;
    width: 50%;
    position: relative;
    right: 200px;
    top: 50px;
}

#next-button {
    position: relative;
    bottom: 550px;
}

#level-1-text {
    min-height: 120px;
}