#level-2-instructions {
    width: 600px;
    height: 700px;
    border: 4px solid purple;
    margin: auto;
}

#level-2-dialogue {
    border: 4px solid purple;
    font: 20px Arial;
    background-color: lavender;
    width: 500px;
    margin: auto;
    margin-top: 40px;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px;
    text-align: left;
}

#next-button {
    margin-top: 30px;
}