 // Define a SCSS variable
#start-game-canvas {
    display: block;
    border: 4px solid purple; // Use the variable we defined
    margin: auto;
}

body {
    background-color: lavender;
    margin-top: 40px;
}

ul {
    float: left;
}